*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.flexed{
     display: flex;
}

@font-face{
     font-family: roboto;
     src: url(fonts/Roboto-Medium.ttf);
}
.nav{display: flex;}
.bbox{
     display: none;
}
.chkk{
     display: flex;
     position: fixed;
     width: 100%;
     //display: flex;
     justify-content: space-around;
     height: 65px;
     align-items: center;
     margin-top: 40px;
     background-color: rgba($color: #120D08, $alpha: 0.2);
     color: #fbfbfb;

     ul{
          display: flex;
          justify-content: space-around;
          width: 50%;
          text-decoration: none;
          list-style: none;
          font-family: roboto;
          a{
               cursor: pointer;
               text-decoration: none;
               color: #fbfbfb;
          }
     }
     svg{
          margin-top: 60px;
     }
}
#homer{
     background-image: url(https://dsm01pap006files.storage.live.com/y4mAaXxBi7E1G5RhfF-wGultjA4LdkF17giHStM_kExzydwddsQNYuiM3IFfb5QWISEaDvqbFVASnb5_fIKVYccwhpwElPHlPnC1hx8PRg8JIBBW5TJQ42Jp19aALUEtRtbhfW0i1e1MZXTuf4PSSbikq0keq651NqrCzbyVAzuDVihHMsKloXRXRha7Nkc_zfG0VYYU3R-y_uOWaqtQEv7hg/DSCF1209.JPG?psid=1&width=1371&height=914);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100vh;
     #wrapper{
          background: linear-gradient(90deg, rgba(181, 50, 47,0.8) 0%, rgba(24, 23, 53,0.8) 100%);
          height: 100vh;
          justify-content: center;
          margin: auto;
          display: flex;
          align-items: center;
     }
     #cont1wrap{
          //justify-content: space-around;
          margin-top: -70px;
     }
     #cont2wrap{
          flex-direction: column;
          width: 760.64px;
          #imgcont{
               width: 100%;
               display: flex;
               justify-content: space-between;
               div{
                    border: 1px solid grey;
               }
          }
     }
}
#base{
     display: flex;
     width: 85%;
     justify-content: space-around;
     div{
          width: 500px;
     }
     margin-top: 170px;
}
#img1{
     background-image: url(images/DSCF1224.JPG);
     background-repeat: no-repeat;
     background-position-x: -115px;
     background-position-y: -100px;}
#img2{
     background-image: url(images/DSCF1179.JPG);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
@media screen and (max-width: 1366px){
     #cont2wrap{
          transform: scale(0.8);
          #imgcont{
               width: 750px !important;
          }
     }
     #cont1wrap{
          // transform: scale(0.8);
          #svg1{
               width: 343px !important;
          }
          #svg2{
               width: 328px !important;
          }
     }
     #base{
          margin-top: 120px;
     }
}
@media screen and (max-width: 1000px){
     .nav{display: none;}
     .bbox{
          display: flex !important;
     }
     label{
          z-index: 6;
          position: absolute;
          display:flex;
          flex-direction:column;
          width:70px;
          cursor:pointer;
          top: 30px;
          left: 30px;
     }
         
     label span{
          background: rgb(228, 226, 226);
          border-radius:5px;
          height:6px;
          margin: 7px 0;
          transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
     }
         
         
         span:nth-of-type(1){
           width:50%;
           
         }
         
         span:nth-of-type(2){
           width:100%;
         }
         
         
         span:nth-of-type(3){
           width:75%;
          
         }
         
         
         input[type="checkbox"]{
           display:none;
         }
         
         
         input[type="checkbox"]:checked ~ span:nth-of-type(1){
           transform-origin:bottom;
           transform:rotatez(45deg) translate(8px,0px)
         }
         
         
         input[type="checkbox"]:checked ~ span:nth-of-type(2){
           
           transform-origin:top;
           transform:rotatez(-45deg)
         }
         
         
         input[type="checkbox"]:checked ~ span:nth-of-type(3){
           
           transform-origin:bottom;
           width:50%;
           transform: translate(30px,-11px) rotatez(45deg);
         
         }

     .chkk{
          display: none;
          margin-top: 0px;
          position: fixed;
          background-color: rgba(18, 13, 8, 0.8);
          ul{
               flex-direction: column !important; 
               height: 50%;
               text-align: center;
          }
          height: 100%;
          z-index: 5;
          svg{
               position: absolute;
               top: -25px;
          }
          display: flex;
     }
     #base{
          flex-direction: column;
          align-items: center;
          overflow-x: hidden;
          overflow-y: hidden;
          width: 100%;
     }
     #wrapper{
          overflow-y: auto;
          overflow-x: hidden;
          height: 2200px;
     }
     #cont1wrap{
          margin-top: 370px !important;
          align-items: center;
          #svg1{
               width: 95vw !important;
          }
          #svg2{
               width: 328px !important;
          }

     }
}
@media screen and (max-width: 500px){
     .nav{
          display: none;
     }
     #cont1wrap{
          margin-top: 955px !important;
          height: 586px;
     }
     #cont2wrap{
          height: unset !important;
     }
     #imgcont{
          flex-direction: column;
          align-items: center;
          height: 1100px;
     }

     label{
          z-index: 6;
          position: absolute;
          display:flex;
          flex-direction:column;
          width:70px;
          cursor:pointer;
          top: 30px;
          left: 30px;
     }
         
     label span{
          background: rgb(228, 226, 226);
          border-radius:5px;
          height:6px;
          margin: 7px 0;
          transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
     }
         
         
         span:nth-of-type(1){
           width:50%;
           
         }
         
         span:nth-of-type(2){
           width:100%;
         }
         
         
         span:nth-of-type(3){
           width:75%;
          
         }
         
         
         input[type="checkbox"]{
           display:none;
         }
         
         
         input[type="checkbox"]:checked ~ span:nth-of-type(1){
           transform-origin:bottom;
           transform:rotatez(45deg) translate(8px,0px)
         }
         
         
         input[type="checkbox"]:checked ~ span:nth-of-type(2){
           
           transform-origin:top;
           transform:rotatez(-45deg)
         }
         
         
         input[type="checkbox"]:checked ~ span:nth-of-type(3){
           
           transform-origin:bottom;
           width:50%;
           transform: translate(30px,-11px) rotatez(45deg);
         
         }
         .ttog{
          display: flex !important;
     }
     
}
